<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QWords</title>
    <style>
        body { 
            text-align: center;
            background-color: #06084a;
            color: white;
        }
    </style>
<body>
    <div>
    <h1><img src="Q.png">Words</h1>
    </div>
    <form method="get" th:action="@{game}">
        <label>Please enter your name: </label>
        <input type="text" name="user" required pattern="[a-zA-Z]{1,15}" title="Enter your name" id="user">
        <button type="submit">Play</button>
    </form>
</body>
</html>
